<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaobai1226.aether.core.mapper.UserFileMapper">
    <!--    分页查询用户文件列表-->
    <select id="getFileListByPage" resultType="com.xiaobai1226.aether.core.domain.dto.UserFileDTO">
        SELECT user_file.*, file.size, file.thumbnail, file.file_type, file.identifier, file.path
        FROM user_file AS user_file
        LEFT JOIN file AS file ON user_file.file_id = file.id
        <where>
            user_file.user_id = #{userFileDO.userId}
            AND user_file.file_status = #{userFileDO.fileStatus}
            <if test="userFileDO.parentId != null">
                AND user_file.parent_id = #{userFileDO.parentId}
            </if>
            <if test="userFileDO.category != null">
                AND user_file.category = #{userFileDO.category}
            </if>
        </where>
        ORDER BY user_file.item_type ASC
        <choose>
            <when test="sortFieldIndex == 1 and sortOrder == 1">
                , user_file.name ASC
            </when>
            <when test="sortFieldIndex == 1 and sortOrder == 2">
                , user_file.name DESC
            </when>
            <when test="sortFieldIndex == 2 and sortOrder == 1">
                , user_file.update_time ASC
            </when>
            <when test="sortFieldIndex == 2 and sortOrder == 2">
                , user_file.update_time DESC
            </when>
            <when test="sortFieldIndex == 3 and sortOrder == 1">
                , file.size ASC
            </when>
            <when test="sortFieldIndex == 3 and sortOrder == 2">
                , file.size DESC
            </when>
        </choose>
    </select>

    <!--    查询用户文件列表根据ID集合-->
    <select id="getUserFileDTOByIds" resultType="com.xiaobai1226.aether.core.domain.dto.UserFileDTO">
        SELECT user_file.*, file.size, file.thumbnail, file.file_type, file.identifier, file.path
        FROM user_file AS user_file
        LEFT JOIN file AS file ON user_file.file_id = file.id
        <where>
            user_file.user_id = #{userFileDO.userId}
            AND user_file.file_status = #{userFileDO.fileStatus}
            AND user_file.id IN
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <!--    查询用户文件根据名称-->
    <select id="getUserFileDTOByNameAndParentId" resultType="com.xiaobai1226.aether.core.domain.dto.UserFileDTO">
        SELECT user_file.id, user_file.name, user_file.item_type, user_file.create_time, user_file.update_time,
        file.size,
        file.thumbnail, file.file_type, file.identifier, file.path
        FROM user_file AS user_file
        LEFT JOIN file AS file ON user_file.file_id = file.id
        <where>
            user_file.user_id = #{userFileDO.userId}
            AND user_file.file_status = #{userFileDO.fileStatus}
            AND user_file.name = #{userFileDO.name}
            AND user_file.parent_id = #{userFileDO.parentId}
        </where>
    </select>


    <!--    查询用户文件列表 TODO 确认这个是否有必要存在，可以用getUserFileDTOByIdsAndUserId代替，自己通过逻辑实现-->
    <select id="getUserFileTreeDTOByIdsAndUserId" resultType="com.xiaobai1226.aether.core.domain.dto.UserFileTreeDTO">
        SELECT user_file.*, file.size, file.thumbnail, file.file_type, file.identifier
        FROM user_file AS user_file
        LEFT JOIN file AS file ON user_file.file_id = file.id
        <where>
            user_file.user_id = #{userFileDO.userId}
            AND user_file.file_status = #{userFileDO.fileStatus}
            AND user_file.id IN
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <!--    查询用户文件列表-->
    <select id="getUserFileDTOByParentIdAndUserId" resultType="com.xiaobai1226.aether.core.domain.dto.UserFileTreeDTO">
        SELECT user_file.*, file.size, file.thumbnail, file.file_type, file.identifier
        FROM user_file AS user_file
        LEFT JOIN file AS file ON user_file.file_id = file.id
        <where>
            user_file.user_id = #{userFileDO.userId}
            AND user_file.file_status = #{userFileDO.fileStatus}
            AND user_file.parent_id = #{userFileDO.parentId}
        </where>
    </select>

    <!-- 查询用户已使用空间 -->
    <select id="getUsedStorage" resultType="Long">
        SELECT IFNULL(SUM(file.size), 0)
        FROM user_file AS user_file
                 LEFT JOIN file AS file ON user_file.file_id = file.id
        WHERE user_file.user_id = #{userId}
    </select>
</mapper>